body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container{

	width: 1000px;
	margin: 10px auto;
}

.container .box1{
	width: 20%;
	float: left;
	background-image: url("https://img.icons8.com/office/40/000000/pill.png"); 
	background-repeat:no-repeat;
	background-position: 50px 30px; 
	margin: 20px;
}

.container .box2{
	width: 20%;
	float: left;
	background-image: url("https://img.icons8.com/material/50/000000/test-passed.png"); 
	background-repeat:no-repeat;
	background-position: 50px 30px;
	margin: 20px;
}
.container .box3{
	width: 20%;
	float: left;
	background-image: url("https://img.icons8.com/color/48/000000/edit-user-male.png"); 
	background-repeat:no-repeat;
	background-position: 50px 30px; 
	margin: 20px;
}
.container .box4{
	width: 20%;
	float: left;
	background-image: url("https://img.icons8.com/color/48/000000/calendar.png"); 
	background-repeat:no-repeat;
	background-position: 50px 30px; 
	margin: 20px;
}


.container .box .chart{

	position: relative;
	width: 110px;
	height: 110px;
	margin: 0 auto;
	text-align: center;
}


.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  float: left;
  margin-top: 50px;
  height: 300px;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  float: left;
  margin: 50px;
  height: 200px;
  background-image: url("Drug.jpg");
  background-size:  30%,100%;
  background-position: 88%, 30%;
  background-repeat:no-repeat;
}


.card3 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  float: left;
  margin: 50px;
  height: 200px;
  background-image: url("DA.jpg");
  background-size:  60%,100%;
  background-position: 88%, 30%;
  background-repeat:no-repeat;
}

.card4 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  float: left;
  margin: 50px;
  height: 200px;
  background-image: url("DL.jpg");
  background-size:  60%,100%;
  background-position: 88%, 30%;
  background-repeat:no-repeat;
}


.card5 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  float: left;
  margin: 50px;
  height: 200px;
  background-image: url("DAM.jpeg");
  background-size:  60%,100%;
  background-position: 88%, 30%;
  background-repeat:no-repeat;
}

.card6 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  float: left;
  margin: 50px;
  height: 200px;
  background-image: url("form.jpg");
  background-size:  60%,100%;
  background-position: 88%, 30%;
  background-repeat:no-repeat;
}

.card7 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  float: left;
  margin: 50px;
  height: 200px;
  background-image: url("STDL.jpg");
  background-size:  60%,100%;
  background-position: 88%, 30%;
  background-repeat:no-repeat;
}

.card8 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  float: left;
  margin: 50px;
  height: 200px;
  background-image: url("SDL.jpg");
  background-size:  60%,100%;
  background-position: 88%, 30%;
  background-repeat:no-repeat;
}

.card6 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  float: left;
  margin: 50px;
  height: 200px;
  background-image: url("form.jpg");
  background-size:  60%,100%;
  background-position: 88%, 30%;
  background-repeat:no-repeat;
}

.card6 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  float: left;
  margin: 50px;
  height: 200px;
  background-image: url("form.jpg");
  background-size:  60%,100%;
  background-position: 88%, 30%;
  background-repeat:no-repeat;
}



.card1:hover {
  box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
}

.card2:hover {
  box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
}
.card3:hover {
  box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
}
.card4:hover {
  box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
}
.card5:hover {
  box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
}

.card6:hover {
  box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
}

.card7:hover {
  box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
}
.card8:hover {
  box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 20px 16px;

}

@media screen and (max-width:499px){

	.card1{
		clear:both; 
	}


	.card{
		clear:both; 
	}
} 

