
@{
    ViewBag.Title = "Create";
    var imageUrl = "/Content/images/pattern/3.png";
}

<h2>Student Create</h2>

<form id="createTable">

    <div class="row">

        <div class="col-md-12">

            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="Name" /><br />
            </div>

            <div class="form-group">
                <label>ClassRoll</label>
                <input class="form-control" name="ClassRoll" /><br />
            </div>

            <div class="form-group">
                <label>Dpt</label>
                <input class="form-control" name="Dpt" /><br />
            </div>

            <div class="form-group">
                <label>Email</label>
                <input class="form-control" name="Email" /><br />
            </div>

            <div class="form-group">
                <label>Password</label>
                <input class="form-control" name="Password" /><br />
            </div>

            <div class="form-group">
                <label>RegNo</label>
                <input class="form-control" name="RegNo" /><br />
            </div>


            <button id="savebtn" class="btn btn-primary" type="button">Registration</button>
            <button id="cancelbtn" class="btn btn-primary" type="button">Cancel</button>
        </div>

    </div>

</form>

@*<form >

        <label>Catagories</label>
        <select name="catagoryId">

            @foreach (var catagory in Model) {
                <option value="@catagory.Id">@catagory.name</option>
            }

        </select>

        <label>Name</label>
        <input name="name" /><br />

        <label>Description</label>
        <input name="Description" /><br />

        <label>Price</label>
        <input name="Price" /><br />

        <button id="savebtn" type="button">Create</button>
    </form>*@

<script>

    $("#imageUpload").change(function () {
        var element = this;

        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: "POST",
            url: '/Shared/UploadImages',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {
                //alert(response);
                console.log(response);
                if (response.Success) {

                    $("#imageURL").val(response.ImageURL);
                    $("#studentImage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });

    });


    $("#savebtn").click(function () {
        $.ajax({
            type: "POST",
            url: '/Student/Create',
            data: $("#createTable").serialize()
        })
        .done(function (response) {
            alert(response);
            $("#tableContainer").html("");
            $("#secondContainer").html(response);
            $("#actionContainer").html("");
            focusAction("tableContainer");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });

    $("#cancelbtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });

</script>

