@{
    ViewBag.Title = "Administrative Page";
}
<h2>Hello Administration</h2>


<div class="card-deck">

    <a href="/Catagory/Index">
        <div class="card" id="catagory">
            <img class="card-img-top" src="~/Content/images/List1.png" alt="Card image cap" style="width:200px;height:200px;">
            <div class="card-body">
                <h5 class="card-title">Catagory Manipulate</h5>
                <p class="card-text"> Click Here to go Catagory Index Page</p>
            </div>
        </div>
    </a>
    <pre>        </pre>
    <a href="/Product/Index">
        <div class="card" id="DoctorAdd">
            <img class="card-img-top" src="~/Content/images/List2.jpg" alt="Card image cap" style="width:200px;height:200px;">
            <div class="card-body">
                <h5 class="card-title">Doctor List Manipulate</h5>
                <p class="card-text">Click Here to go Doctor Index Page</p>
            </div>
        </div>
    </a>
    <pre>        </pre>
    <a href="/WeeklyDoctorList/Index">
        <div class="card" id="WeeklyDoctor">
            <img class="card-img-top" src="~/Content/images/List3.jpg" alt="Card image cap" style="width:200px;height:200px;">
            <div class="card-body">
                <h5 class="card-title">Weekly Doctor List Manipulate</h5>
                <p class="card-text">Click Here to go WeeklyDoctor Index Page</p>
            </div>
        </div>
    </a>
    <pre>        </pre>
    <a href="/Student/Index">
        <div class="card" id="Student">
            <img class="card-img-top" src="~/Content/images/List1.png" alt="Card image cap" style="width:200px;height:200px;">
            <div class="card-body">
                <h5 class="card-title">Student List Manipulate</h5>
                <p class="card-text">Click Here to go Student Index Page</p>
            </div>
        </div>
    </a>
    <pre>        </pre>
    <a href="/Administrative/Index">
        <div class="card" id="AppionmentList">
            <img class="card-img-top" src="~/Content/images/List2.jpg" alt="Card image cap" style="width:200px;height:200px;">
            <div class="card-body">
                <h5 class="card-title">AppionmentList List Manipulate</h5>
                <p class="card-text">Click Here to go AppionmentList Index Page</p>
            </div>
        </div>
    </a>
</div>
